In [ ]:
nomes = ['market', 'john', 'joao', 'maria', 'carlos', 'ana']

# iteracao(for) - passar item por item na lista
# upper - todas as letras se tornam maiusculas

for nome in nomes:
    print(nome.upper())

In [ ]:
for i in range(1,6):
    print(i ** 2)

In [ ]:
soma = 0 
for i in range(1,6):
    soma += i
print(f'A soma dos numeros inteiros é: {soma}')

In [ ]:
lista_original = [1, 2, 3, 4, 5]
nova_lista = []

for elemento in lista_original:
    nova_lista.append(elemento * 2)
    print(f"lista_origianal{lista_original}")
    print(f"nova_lista{nova_lista}")

In [1]:
lista1 = [1, 2, 3, 4]
lista2 = [5, 6 , 7, 8]
soma_elementos = []

for i in range(len(lista1)):
    soma_elementos.append(lista1[i] + lista2[i])
    print(f"a terceira lista é: {soma_elementos}")

a terceira lista é: [6]
a terceira lista é: [6, 8]
a terceira lista é: [6, 8, 10]
a terceira lista é: [6, 8, 10, 12]

In [2]:
pip install pandas;

Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\gustavo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1.2)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\gustavo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gustavo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\gustavo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\gustavo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\gustavo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\Gustavo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [13]:
data =  { 
'numero 1' : [1, 2, 3, 4, 5],
'numero 2' : [1, 2, 3, 4, 5],
'numero 1' : ['x', 'y', 'z', 'y', 'w']
 }

df = pd.DataFrame(data)
df

  numero 1  numero 2
0        x         1
1        y         2
2        z         3
3        y         4
4        w         5

In [8]:
df

   numero 1  numero 2 variaveis
0         2         1         x
1         6         2         y
2         3         3         z
3         7         4         y
4         8         5         w